.news__swiper {
  display: none;

  .swiper-pagination-bullet {
    background-color: white;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .news__swiper {
    display: flex;
  }
}
