@import '@style/constants.less';
@import '@style/mixins.less';

.select {
  position: relative;

  &__title {
    margin-right: 5px;
    color: var(--grey-color);
  }

  &__options-list {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;

    &[data-open='true'] {
      display: block;
    }
  }

  &__optons-item {
    cursor: pointer;
    padding: 5px;
    transition: all @transition;
    background-color: var(--background-color);
    color: var(--grey-color);

    &:hover {
      background-color: var(--primary-color);
    }
  }

  &__value {
    text-decoration: underline;
    padding: 0 5px;
    cursor: pointer;
    color: var(--grey-color);
  }
}
