@import '@style/constants.less';
@import '@style/mixins.less';

.order-form {
  .field input {
    border: 1px solid var(--border-color);
  }
  .field__label {
    color: var(--gray-text);
  }

  &__delivery {
    justify-content: flex-start;
  }
}
