.order-form {
  height: 100%;
  .order-form__container {
    width: 100%;
    height: 100%;
  }

  .order-form__wrapper {
    width: 100%;
    padding: 45px;
    border: 1px solid rgba(149, 109, 132, 1);
    height: 100%;
  }
  .order-form__title {
    color: var(--grey-color);
  }

  .order-form__header {
    margin-bottom: 40px;
    h4 {
      font-weight: 700;
      font-size: 20px;
    }
  }
}


@media screen and (max-width: 360px) {

  .order-form{
.order-form__wrapper {
  padding: 20px;
}
}}