@import '@style/constants.less';
@import '@style/mixins.less';

.home {
  .forum,
  .banner,
  .for-client,
  .product-list {
    margin: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .home {
    .product-list,
    .forum {
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .home {
    .for-client {
      margin: 15px 0;
    }
  }
}
