@import '@style/constants.less';
@import '@style/mixins.less';

.sort {
  ._center();
  select {
    appearance: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 5px;
    width: 200px;

    option {
      font-weight: 300;
      font-size: 18px;
      color: var(--grey-color);
    }
  }

  &__text {
    margin-right: 10px;

    span {
      font-weight: 250;
      font-size: 18px;
      color: var(--text-color);
    }
  }
  &__triangle {
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--grey-color);

    &[data-focus='true'] {
      border-top: 0px;
      border-bottom: 7px solid var(--grey-color);
    }
  }

  &__name {
    ._center();
  }
}
