.catalog__product {
  .select__triangle {
    display: none;
  }

  select {
    select,
    option {
      text-decoration: none;
      font-size: 18px;
      font-weight: 450;
      color: var(--grey-color);
      font-family: 'Roboto';
      background-color: var(--background-color);
    }
  }
}
