@import '@style/constants.less';
@import '@style/mixins.less';

.order-price {
  width: 100%;
  max-width: 480px;
  &__container {
    margin: 0 auto;
    padding: 50px;
    border: 1px solid var(--primary-color);
  }

  &__wrapper {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 36px;
      color: var(--primary-color);
    }
  }

  &__main {
    padding: 40px 0;
  }

  &__body {
    margin: -30px 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    span {
      font-weight: 300;
      font-size: 16px;
      color: var(--grey-color);
    }
  }

  &__name {
    span {
      font-weight: 300;
      font-size: 16px;
      color: var(--gray-text);
    }
  }

  &__result {
    display: flex;
    justify-content: space-between;
  }

  .button {
    height: 60px;

    &[data-disabled='true'] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__added {
    padding: 30px 0;
  }
}

.order-price__finally {
  .order-added__name span {
    font-weight: 400;
    font-size: 24px;
    color: var(--grey-color);
  }

  .order-added__price span {
    font-weight: 600;
    font-size: 24px;
    color: var(--grey-color);
  }
}


@media screen and (max-width: 360px) {
.order-price{

&__container{
  padding: 20px ;
}

&__header h2{
  font-size: 30px;
}


.button{
  height: 40px;

}

&__added {
  padding: 20px 0;
}
}
}



