@primary-border: 1px solid var(--primary-color);

@transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;

:root[data-theme='theme-dark'] {
  --background-color: rgb(42, 36, 39);
  --primary-color: rgba(149, 109, 132, 1);
  --grey-color: rgba(51, 51, 51, 1);
  --lite-color: rgba(255, 255, 255, 1);
  --text-color: rgba(130, 130, 130, 1);
  --border-color: rgba(224, 224, 224, 1);
  --gray-text: rgba(189, 189, 189, 1);
}
:root[data-theme='theme-light'] {
  --background-color: rgb(255, 255, 255);
  --primary-color: rgba(149, 109, 132, 1);
  --grey-color: rgba(51, 51, 51, 1);
  --lite-color: rgba(255, 255, 255, 1);
  --text-color: rgba(130, 130, 130, 1);
  --border-color: rgba(224, 224, 224, 1);
  --gray-text: rgba(189, 189, 189, 1);
}
