@import '@style/constants.less';
@import '@style/mixins.less';

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -11px;
  margin-top: 30px;

  &__item {
    margin: 0 11px;
    color: var(--text-color);
    font-weight: 300;
    font-size: 20px;
  }

  &__link {
    color: var(--text-color);
    text-decoration: underline;
    font-weight: 300;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .breadcrumbs {
    &__item {
      margin: 0 5px;
    }

    &__item,
    &__link {
      font-size: 15px;
    }
  }
}
