@import '@style/mixins.less';

.product-card {
  position: relative;
  max-height: 544px;
  border: 1px solid rgba(149, 109, 132, 1);
  width: 340px;
  padding: 5px 20px;

  &__border {
    border-radius: 50px;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px dashed red;
    ._center();
  }

  &__number {
    span {
      font-weight: 300px;
      font-size: 16px;
      color: rgba(0, 0, 0, 1);
    }
  }
  &__like {
    top: 20px;
    right: 20px;
    color: red;
  }
  &__top {
    bottom: 170px;
    right: 26px;

    &_circle {
      border-radius: 50px;
      color: rgba(149, 109, 132, 1);
      width: 50px;
      height: 50px;
      border: none;
      background-color: rgba(157, 117, 140, 0.39);

      ._center();
    }
  }

  &__mark {
    position: absolute;
  }

  &__like {
    // opacity: 0;
    transition: all 0.3s ease-out;
  }

  &:hover &__like {
    opacity: 1;
    transition: all 0.3s ease-in;
  }

  &__rating {
    margin-bottom: 10px;
  }

  &__properties {
    display: flex;
    justify-content: space-between;
  }

  &__old-price {
    text-decoration: line-through;
    color: rgba(189, 189, 189, 1);
    font-weight: 300;
    font-size: 18px;
  }

  &__actual-price {
    color: rgba(149, 109, 132, 1);
    font-weight: 700;
    font-size: 18px;
  }

  &__name {
    span {
      font-weight: 300;
      font-size: 18px;
      color: rgba(51, 51, 51, 1);
    }
  }

  &__button {
    ._center();
    margin-top: 10px;
    button {
      background-color: rgba(149, 109, 132, 1);
      width: 220px;
      height: 50px;
      border-radius: 7px;
      color: rgba(255, 255, 255, 1);
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: rgb(163, 124, 146);
        transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }

  &__action {
    margin-top: 10px;
    ._center();
    text-decoration: underline;
    cursor: pointer;
  }
}
