@import '@style/mixins.less';

.product-list {
  margin-top: 40px;
  &__container {
    ._container();
  }

  &__wrapper {
    ._wrapper();
  }

  &__header {
    ._center();
    font-size: 27px;
    position: relative;
  }

  &__pages {
    ._center();
    position: absolute;
    top: 10px;
    right: 30px;
    margin: 0 -6px;
    .product-list__arrow {
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 2px solid rgba(149, 109, 132, 1);
      border-right: 2px solid rgba(149, 109, 132, 1);
      margin: 0px 6px;
    }

    .product-list__left {
      transform: rotate(225deg);
    }

    .product-list__right {
      transform: rotate(45deg);
    }
  }

  &__body {
    margin-top: 30px;
  }
}
