@import '@style/constants.less';
@import '@style/mixins.less';

.modal {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__container {
    ._center();
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.5);
    padding: auto;
  }

  &__wrapper {
    position: relative;
    padding: 30px;
    background: white;
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }

  &__close {
    ._center();
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
      &::before,
      &::after {
        background-color: @text-color;
      }
    }
  }

  .modal__close::before,
  .modal__close::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: @border-color;
    transition: @transition;
  }

  .modal__close::before {
    transform: rotate(45deg);
  }

  .modal__close::after {
    transform: rotate(-45deg);
  }

  .auth__main {
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .modal__wrapper {
    min-width: 355px;
  }
}

@media screen and (max-width: 400px) {
  .modal__wrapper {
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 0px;
  }
}

@media screen and (max-width: 350px) {
  .modal__close {
    right: 25px;
  }
}
