@import '@style/reset.less';
@import '@style/iconmoon/style.less';

@import (css) url(https://fonts.googleapis.com/css?family=Roboto:regular);

body {
  font-family: 'Roboto';
  background-image: url(./assets/images/flowers.png);
  background-size: 100%;
  background-position: right;
  max-height: 100vh;
  overflow: auto;
}
