@import '@style/constants.less';
@import '@style/mixins.less';

.cart__clear {
  ._center();
}

.cart__items {
  width: 100%;
}

.cart__ampty-message {
  ._center();
  height: 100%;
  span {
    font-weight: 700;
    font-size: 30px;
  }
}
